$def with(clientes)
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4"><a href="/clientes">clientes</a></h1><br>

    <table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
        <thead>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Telefono</th>
            <th>Edit</th>
            <th>Delete</th>
    </thead>
    <tbody>
        $for item in clientes:
        <tr>
            <td><a href='/clientes/view/$item.id_clientes'>$item.nombre</a></td>
                <td><a href='/clientes/view/$item.ape_pat'>$item.ape_pat</a></td>
                <td><a href='/clientes/view/$item.ape_mat'>$item.ape_mat</a></td>
                <td><a href='/clientes/view/$item.telefono'>$item.telefono</a></td>      
            <td><a href='/clientes/edit/$item.id_clientes'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/clientes/delete/$item.id_clientes'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<a href="/clientes/insert"><center><button type="button" class="btn btn-primary btn-lg">Insertar Cliente</button></center></a>
<br>

</div>
</div>